.cardImg img {
    width: 152px;
    height: 152px;
    object-fit: cover;
    justify-content: center !important;
    display: flex;
    border-radius: 100%;
    margin: 20px auto;
}

.sorting_search select {
    width: 200px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
.sorting_search {
    display: block !important;
}

.sorting_search select {
    width: 100%;
    margin-bottom: 20px;
}

.sorting_search input {
    width: 100%;
    margin-bottom: 20px;
}
    
}