.profile{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
}

.profile_name {
    position: absolute;
    top: 15px;
    left: 68px;
    color: rgb(255 255 255);
    display: none;
    width: 120px;
}
.profile:hover a.profile_name{
    display: block;
} 

.navbar_custom a {
    font-size: 18px;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
}